flows.json
[
    {
        "id": "466ad92c66da2565",
        "type": "tab",
        "label": "nút bấm đèn phòng khách",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "07bc0089cb2b7960",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Lamp Pub",
        "topic": "v1/devices/telemetry",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1370,
        "y": 580,
        "wires": []
    },
    {
        "id": "f24e0ab2f8800ab0",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Thiết lập giao diện trong tab \"Room\" trong dashboard",
        "info": "",
        "x": 230,
        "y": 280,
        "wires": []
    },
    {
        "id": "2f02a92059fed29a",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "switch state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "f718fd986675514b",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "Convert to JSON",
        "func": "var value = msg.payload\nvar logic_val = false;\nif (value == true)\n    logic_val = true;\nelse\n    logic_val = false;\nmsg.payload = { 'state': logic_val};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 500,
        "wires": [
            [
                "07bc0089cb2b7960",
                "215ed7fe39737267"
            ]
        ]
    },
    {
        "id": "215ed7fe39737267",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Update 'State' Client Attribute",
        "topic": "v1/devices/me/attributes",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1420,
        "y": 480,
        "wires": []
    },
    {
        "id": "81df60f34cd752df",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "\"state\" client attribute",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 700,
        "wires": []
    },
    {
        "id": "3fd4eeb9969e9f40",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "Parse Attribute value",
        "func": "let szMethod = msg.payload.method;\nlet attr_val = msg.payload.params;\nif (szMethod == 'setAttribute'){\n    msg.type = 1;\n    msg.payload = attr_val;\n}\nif (szMethod == 'setState'){\n    msg.type = 2;\n    msg.state = attr_val;    \n    if (attr_val == true)\n        msg.payload = true;\n    else\n        msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 440,
        "wires": [
            [
                "81df60f34cd752df",
                "9f9faccc3361b6ef"
            ]
        ]
    },
    {
        "id": "d026e36eb930dc30",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Đăng ký với TB nhận bản tin RPC",
        "info": "",
        "x": 180,
        "y": 340,
        "wires": []
    },
    {
        "id": "6c12e0da1d3d4b16",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "{\"state\": true}",
        "info": "",
        "x": 730,
        "y": 600,
        "wires": []
    },
    {
        "id": "fa0c7be0621b2755",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "topic: v1/devices/me/attributes",
        "info": "",
        "x": 1240,
        "y": 340,
        "wires": []
    },
    {
        "id": "4f72a7cb9636a8a3",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "RPC msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "1807ec8cee78e445",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "RPC topic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 580,
        "wires": []
    },
    {
        "id": "9f9faccc3361b6ef",
        "type": "switch",
        "z": "466ad92c66da2565",
        "name": "",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 400,
        "wires": [
            [
                "7e004578f15dcc76",
                "96f566e309cce6f1"
            ],
            [
                "1d4bb8daaadcba53",
                "7020be7835ae9321"
            ]
        ]
    },
    {
        "id": "7e004578f15dcc76",
        "type": "ui_slider",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "d759cbc059b633d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 280,
        "wires": [
            [
                "c6563e05cf3308d5",
                "24fa0310393aba37",
                "d75c6f1c8688d912"
            ]
        ]
    },
    {
        "id": "c6563e05cf3308d5",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "96f566e309cce6f1",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 220,
        "wires": []
    },
    {
        "id": "d75c6f1c8688d912",
        "type": "ui_text",
        "z": "466ad92c66da2565",
        "group": "679f547b5082aa58",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Slide value",
        "label": "Giá trị",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 320,
        "wires": []
    },
    {
        "id": "bc48d75a7f33147b",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Pub Slide Value",
        "topic": "room/slide",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1220,
        "y": 300,
        "wires": []
    },
    {
        "id": "24fa0310393aba37",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "Convert to JSON",
        "func": "var value = msg.payload\nmsg.payload = { 'Run1': value };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 280,
        "wires": [
            [
                "bc48d75a7f33147b",
                "3cdaa84c570a83ac"
            ]
        ]
    },
    {
        "id": "1d4bb8daaadcba53",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "3cdaa84c570a83ac",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Update 'Slide\" Client Attribute",
        "topic": "v1/devices/me/attributes",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1250,
        "y": 220,
        "wires": []
    },
    {
        "id": "dc8a390dfbbe9a57",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Cập nhật giá trị thuộc tính client state trên máy chủ TB",
        "info": "",
        "x": 1600,
        "y": 220,
        "wires": []
    },
    {
        "id": "13433c1c32b73d29",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Cập nhật giá trị trên topic tại máy chủ cục bộ",
        "info": "",
        "x": 1490,
        "y": 280,
        "wires": []
    },
    {
        "id": "3250f8dd523da1df",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "shared attribute 'Run'",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "shared_Run",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 80,
        "wires": []
    },
    {
        "id": "587462e64343c258",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "parse attribute value",
        "func": "let attr_shared_values = msg.payload.shared;\nlet attr_client_values = msg.payload.client;\nlet attr1 = attr_shared_values.Run;\nlet attr2 = attr_client_values.state;\nlet attr3 = attr_client_values.Run1;\nmsg.shared_Run = attr1;\nmsg.client_state = attr2;\nmsg.client_slide = attr3;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 220,
        "wires": [
            [
                "02e73f9dfd606544",
                "3250f8dd523da1df",
                "42a860ca77299f92",
                "5e3f469197ea3d2e"
            ]
        ]
    },
    {
        "id": "8852c5e9199f5250",
        "type": "mqtt in",
        "z": "466ad92c66da2565",
        "name": "Request attribute",
        "topic": "v1/devices/me/attributes/response/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [
            [
                "a90a2adcc245e744",
                "587462e64343c258"
            ]
        ]
    },
    {
        "id": "c4b2681d97b92ffe",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "client attribute 'Run1'",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "client_slide",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "02e73f9dfd606544",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "client attribute 'state'",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "client_state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "a90a2adcc245e744",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "check TB attribute values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 120,
        "wires": []
    },
    {
        "id": "fe0aedd3699a7e06",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Check value of TB Attributes",
        "info": "",
        "x": 940,
        "y": 80,
        "wires": []
    },
    {
        "id": "9ed69126b9da2694",
        "type": "inject",
        "z": "466ad92c66da2565",
        "name": "Read TB attribute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 930,
        "y": 120,
        "wires": [
            [
                "8e5677cea03d01fe"
            ]
        ]
    },
    {
        "id": "8e5677cea03d01fe",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "set msg to read TB shared attribute value",
        "func": "var value = msg.payload\nmsg.payload = {\"clientKeys\": \"Run1,state\",\"sharedKeys\":\"Run\"};\nmsg.topic = 'v1/devices/me/attributes/request/1'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 120,
        "wires": [
            [
                "c4860b5f278958a5",
                "7ba483fd1e8b8b61",
                "986404fa84307984"
            ]
        ]
    },
    {
        "id": "c4860b5f278958a5",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Request Read TB Attributes Value",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1560,
        "y": 160,
        "wires": []
    },
    {
        "id": "7ba483fd1e8b8b61",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "topic of request to read TB attribute",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 120,
        "wires": []
    },
    {
        "id": "986404fa84307984",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "payload of request to read TB attributes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 80,
        "wires": []
    },
    {
        "id": "42a860ca77299f92",
        "type": "change",
        "z": "466ad92c66da2565",
        "name": "Run1 value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "client_slide",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "c4b2681d97b92ffe",
                "7e004578f15dcc76"
            ]
        ]
    },
    {
        "id": "5e3f469197ea3d2e",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "state value",
        "func": "let state_value = msg.client_state; \nif (state_value == true)\n    msg.payload = true;\nelse\n    msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 280,
        "wires": [
            [
                "7020be7835ae9321"
            ]
        ]
    },
    {
        "id": "3616b99233ae592a",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Request attribute values from the server",
        "info": "",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "cce326040bc8cd97",
        "type": "mqtt in",
        "z": "466ad92c66da2565",
        "name": "",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 480,
        "wires": [
            [
                "3fd4eeb9969e9f40",
                "4f72a7cb9636a8a3",
                "1807ec8cee78e445"
            ]
        ]
    },
    {
        "id": "27bbdef9e77b9e37",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Gửi đến ESP32",
        "topic": "relay/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "6b0e63d4d94716ed",
        "type": "mqtt in",
        "z": "466ad92c66da2565",
        "name": "Nhận trạng thái từ ESP32",
        "topic": "relay/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1050,
        "y": 660,
        "wires": [
            [
                "e1f245c2fda7ab7c"
            ]
        ]
    },
    {
        "id": "e1f245c2fda7ab7c",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "Xem dữ liệu nhận từ ESP32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 660,
        "wires": []
    },
    {
        "id": "7020be7835ae9321",
        "type": "ui_switch",
        "z": "466ad92c66da2565",
        "name": "",
        "label": "nút bấm đèn 1",
        "tooltip": "",
        "group": "679f547b5082aa58",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "27bbdef9e77b9e37",
                "f718fd986675514b",
                "b1253b08f64e5966"
            ]
        ]
    },
    {
        "id": "e2462bb6ed942ef5",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Lamp Pub",
        "topic": "v1/devices/telemetry",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1370,
        "y": 1300,
        "wires": []
    },
    {
        "id": "fe6130d78197de95",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Thiết lập giao diện trong tab \"Room\" trong dashboard",
        "info": "",
        "x": 230,
        "y": 1000,
        "wires": []
    },
    {
        "id": "68cbdc23fdd1fbc5",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "switch state",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 1080,
        "wires": []
    },
    {
        "id": "6417afe83bcc7090",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "Convert to JSON",
        "func": "var value = msg.payload\nvar logic_val = false;\nif (value == true)\n    logic_val = true;\nelse\n    logic_val = false;\nmsg.payload = { 'state1': logic_val};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 1260,
        "wires": [
            [
                "e2462bb6ed942ef5",
                "f50218a91d1b734d"
            ]
        ]
    },
    {
        "id": "f50218a91d1b734d",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Update 'State' Client Attribute",
        "topic": "v1/devices/me/attributes",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1420,
        "y": 1200,
        "wires": []
    },
    {
        "id": "912e9147fb91fb6c",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "\"state\" client attribute",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 1420,
        "wires": []
    },
    {
        "id": "2f179efb458d5d9c",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "Parse Attribute value",
        "func": "let szMethod = msg.payload.method;\nlet attr_val = msg.payload.params;\nif (szMethod == 'setAttribute'){\n    msg.type = 1;\n    msg.payload = attr_val;\n}\nif (szMethod == 'setState1'){\n    msg.type = 2;\n    msg.state = attr_val;    \n    if (attr_val == true)\n        msg.payload = true;\n    else\n        msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1160,
        "wires": [
            [
                "912e9147fb91fb6c",
                "7da7a01b4fd8fb1f"
            ]
        ]
    },
    {
        "id": "6984606c55eb907b",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Đăng ký với TB nhận bản tin RPC",
        "info": "",
        "x": 180,
        "y": 1060,
        "wires": []
    },
    {
        "id": "8faf2cd3d96b5a06",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "{\"state\": true}",
        "info": "",
        "x": 730,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2bc104b99a0f1ed5",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "topic: v1/devices/me/attributes",
        "info": "",
        "x": 1240,
        "y": 1060,
        "wires": []
    },
    {
        "id": "91df0dd942c83e71",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "RPC msg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1260,
        "wires": []
    },
    {
        "id": "aa9445b688b28aba",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "RPC topic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7da7a01b4fd8fb1f",
        "type": "switch",
        "z": "466ad92c66da2565",
        "name": "",
        "property": "type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 550,
        "y": 1120,
        "wires": [
            [
                "f39ae66c12691eb3",
                "e4d40b257b0a0555"
            ],
            [
                "7f50410681343b93",
                "4aca7dc2c137da30"
            ]
        ]
    },
    {
        "id": "f39ae66c12691eb3",
        "type": "ui_slider",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "d759cbc059b633d5",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "255",
        "step": 1,
        "className": "",
        "x": 790,
        "y": 1000,
        "wires": [
            [
                "4a8eaa322b7d5721",
                "a15ddff67c82cf50",
                "f5107b0b60982af1"
            ]
        ]
    },
    {
        "id": "4a8eaa322b7d5721",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 940,
        "wires": []
    },
    {
        "id": "e4d40b257b0a0555",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 940,
        "wires": []
    },
    {
        "id": "f5107b0b60982af1",
        "type": "ui_text",
        "z": "466ad92c66da2565",
        "group": "679f547b5082aa58",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Slide value",
        "label": "Giá trị",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 970,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5fbc0215ace2e639",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Pub Slide Value",
        "topic": "room/slide",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1220,
        "y": 1020,
        "wires": []
    },
    {
        "id": "a15ddff67c82cf50",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "Convert to JSON",
        "func": "var value = msg.payload\nmsg.payload = { 'Run1': value };\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1000,
        "wires": [
            [
                "5fbc0215ace2e639",
                "b96e8fa4c3d6e205"
            ]
        ]
    },
    {
        "id": "7f50410681343b93",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 1240,
        "wires": []
    },
    {
        "id": "b96e8fa4c3d6e205",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Update 'Slide\" Client Attribute",
        "topic": "v1/devices/me/attributes",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1250,
        "y": 940,
        "wires": []
    },
    {
        "id": "596d6797f50c67d5",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Cập nhật giá trị thuộc tính client state trên máy chủ TB",
        "info": "",
        "x": 1600,
        "y": 940,
        "wires": []
    },
    {
        "id": "1b746a5ef18b0a43",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Cập nhật giá trị trên topic tại máy chủ cục bộ",
        "info": "",
        "x": 1490,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e8c7594fe2f7bb51",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "shared attribute 'Run'",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "shared_Run",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 800,
        "wires": []
    },
    {
        "id": "9999ebc9989ebe98",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "parse attribute value",
        "func": "let attr_shared_values = msg.payload.shared;\nlet attr_client_values = msg.payload.client;\nlet attr1 = attr_shared_values.Run;\nlet attr2 = attr_client_values.state;\nlet attr3 = attr_client_values.Run1;\nmsg.shared_Run = attr1;\nmsg.client_state = attr2;\nmsg.client_slide = attr3;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 940,
        "wires": [
            [
                "183efab4e9a239cb",
                "e8c7594fe2f7bb51",
                "f613aad46704e9fe",
                "53ed8710a0a7c234"
            ]
        ]
    },
    {
        "id": "ce37e19bde200e42",
        "type": "mqtt in",
        "z": "466ad92c66da2565",
        "name": "Request attribute",
        "topic": "v1/devices/me/attributes/response/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 920,
        "wires": [
            [
                "41003618d7115bb5",
                "9999ebc9989ebe98"
            ]
        ]
    },
    {
        "id": "755a70043daef5e7",
        "type": "debug",
        "z": "466ad92c66da2565",
        "d": true,
        "name": "client attribute 'Run1'",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "client_slide",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 900,
        "wires": []
    },
    {
        "id": "183efab4e9a239cb",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "client attribute 'state'",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "client_state",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 860,
        "wires": []
    },
    {
        "id": "41003618d7115bb5",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "check TB attribute values",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 840,
        "wires": []
    },
    {
        "id": "021a3c1b71001ec4",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Check value of TB Attributes",
        "info": "",
        "x": 940,
        "y": 800,
        "wires": []
    },
    {
        "id": "ad5c8272e063845f",
        "type": "inject",
        "z": "466ad92c66da2565",
        "name": "Read TB attribute",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 930,
        "y": 840,
        "wires": [
            [
                "0c2b254af2797eb2"
            ]
        ]
    },
    {
        "id": "0c2b254af2797eb2",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "set msg to read TB shared attribute value",
        "func": "var value = msg.payload\nmsg.payload = {\"clientKeys\": \"Run1,state\",\"sharedKeys\":\"Run\"};\nmsg.topic = 'v1/devices/me/attributes/request/1'\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 840,
        "wires": [
            [
                "bc74fcbc504504fc",
                "82d53c94baab281e",
                "5ba63a09240d3d10"
            ]
        ]
    },
    {
        "id": "bc74fcbc504504fc",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Request Read TB Attributes Value",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1560,
        "y": 880,
        "wires": []
    },
    {
        "id": "82d53c94baab281e",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "topic of request to read TB attribute",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 840,
        "wires": []
    },
    {
        "id": "5ba63a09240d3d10",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "payload of request to read TB attributes",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 800,
        "wires": []
    },
    {
        "id": "f613aad46704e9fe",
        "type": "change",
        "z": "466ad92c66da2565",
        "name": "Run1 value",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "client_slide",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 940,
        "wires": [
            [
                "755a70043daef5e7",
                "f39ae66c12691eb3"
            ]
        ]
    },
    {
        "id": "53ed8710a0a7c234",
        "type": "function",
        "z": "466ad92c66da2565",
        "name": "state value",
        "func": "let state_value = msg.client_state; \nif (state_value == true)\n    msg.payload = true;\nelse\n    msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 1000,
        "wires": [
            [
                "4aca7dc2c137da30"
            ]
        ]
    },
    {
        "id": "45739c08e5c964fe",
        "type": "comment",
        "z": "466ad92c66da2565",
        "name": "Request attribute values from the server",
        "info": "",
        "x": 190,
        "y": 800,
        "wires": []
    },
    {
        "id": "f6da0e88b88faa14",
        "type": "mqtt in",
        "z": "466ad92c66da2565",
        "name": "",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 1200,
        "wires": [
            [
                "2f179efb458d5d9c",
                "91df0dd942c83e71",
                "aa9445b688b28aba"
            ]
        ]
    },
    {
        "id": "cab676fad8ecb3be",
        "type": "mqtt out",
        "z": "466ad92c66da2565",
        "name": "Gửi đến ESP32",
        "topic": "relay/control",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "",
        "x": 1100,
        "y": 1140,
        "wires": []
    },
    {
        "id": "051b23c052fa9f88",
        "type": "mqtt in",
        "z": "466ad92c66da2565",
        "name": "Nhận trạng thái từ ESP32",
        "topic": "relay/status",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 1050,
        "y": 1400,
        "wires": [
            [
                "ade55c88b3a4eeaf"
            ]
        ]
    },
    {
        "id": "ade55c88b3a4eeaf",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "Xem dữ liệu nhận từ ESP32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1400,
        "wires": []
    },
    {
        "id": "4aca7dc2c137da30",
        "type": "ui_switch",
        "z": "466ad92c66da2565",
        "name": "",
        "label": "nút bấm đèn 2",
        "tooltip": "",
        "group": "a91f06c9baa79ad8",
        "order": 13,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 820,
        "y": 1140,
        "wires": [
            [
                "cab676fad8ecb3be",
                "6417afe83bcc7090",
                "c4b359bf6f9ab38f"
            ]
        ]
    },
    {
        "id": "b1253b08f64e5966",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 580,
        "wires": []
    },
    {
        "id": "c4b359bf6f9ab38f",
        "type": "debug",
        "z": "466ad92c66da2565",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 1320,
        "wires": []
    },
    {
        "id": "d759cbc059b633d5",
        "type": "ui_group",
        "name": "phòng khách",
        "tab": "1ecd5dd0e3480ff7",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "679f547b5082aa58",
        "type": "ui_group",
        "name": "Control",
        "tab": "21242c0bcb732a08",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a91f06c9baa79ad8",
        "type": "ui_group",
        "name": "Control",
        "tab": "9790b98068c71093",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ecd5dd0e3480ff7",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "21242c0bcb732a08",
        "type": "ui_tab",
        "name": "Room",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "9790b98068c71093",
        "type": "ui_tab",
        "name": "Room",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]